<!-- 
  if reminder is true, set the class reminder. 
  Also, the css for this will apply at .task.reminder in task-item.component.css  

  on double clicking a task, change the value of the reminder to be true, vice versa.
-->
<div [ngClass]="{reminder: task.reminder}" class="task"
  (dblclick)="onToggle(task)">
  <h3>
    <!-- The expression {{}} points/has access to each document in the array Task -->
    {{ task.text }} 
    
    <!-- 
      icon X with onClick event listener
      call the method onDelete at task-item.component.ts
    -->
    <fa-icon
      (click)="onDelete(task)" 
      [ngStyle]="{'color': 'red'}"
      [icon]="faTimes">
    </fa-icon>
  </h3>
  <p>{{ task.day }}</p>
</div>

